@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
#logo{
    display: flex;
    color:rgb(241, 230, 208);
    align-items: center;
    margin: 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 40px;
}
#logo img{
    height: 42px;
   /* filter: invert(1);*/

}
#navbar{
    background-color: rgb(179, 12, 12);
    padding: 8px 24px;
    font-family: 'Lacquer';
}
#navbar ul{
    display: flex;
    flex-direction:row;
   /* justify-content:center;*/
   align-items: center;

}
#navbar li{
    list-style:none
}
#navbar li a{
    text-decoration: none;
    padding:200px 27px;
    font-size: 22px;
    color: aliceblue;
    
}
#navbar li a:hover{
    color:black;
}

#introSection{
    background: center / cover no-repeat url("/static/dc2.jpg");
    opacity: 0.9;
    height: 400px;
    background-color: red;
    color:rgb(218, 225, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Alkatra', cursive;
    padding-bottom: 40px;
}
#introSection div.small
{
    font-size:18px;
}

#sponsorsSection{
    height: 300px;
    background-color: rgb(235, 151, 151);
    color:rgb(28, 97, 158);
    justify-content: center;
}
#sponsorsSection h2{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding-top:12px;
    
}
#sponsors{
    height: 200px;
    max-width:1000px;
    margin:20px;
    justify-content: center;
}
.spimage{
    height: 80%;
}
#missionSection{
    height: 280px;
    background-color: rgb(234, 243, 249);
    color:rgb(5, 8, 11);
    margin: auto;
    width: 67%;
}
#missionSection h2{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding-top:12px;
    font-size: 40px;
    
}
.card
{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 29%;
    margin:23px 16px;
    height: 150px;

background-color: aquamarine;
}
.card h3{
    text-align: center;
    margin:10px 20px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: center;

}
.card img{
    height: 131px;
    padding: 0 3px;
    margin: 5px 0px;
}
.card-img img{
    height:inherit;
}
.card content
{
    padding:0 24px;
}
.card-content p{
    font-size: 10px;
}
#footer{
    height: 60px;
    background-color: rgb(21, 36, 36);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 20px;
}